/*------------------------------
    Navbar Area
------------------------------*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-area {
    @include transition(.5s ease-in);
    background-color: $secondary-color;
    padding: 0;
    &.nav-fixed {
        position: fixed;
        left: 0;
        top: 0px;
        width: 100%;
        z-index: 9999;
        @include transition(.5s ease-in);
        background-color: $secondary-color;
         .navbar-collapse{
             .navbar-nav{
                 .nav-item{
                     &:hover{
                        .dropdown-menu {
                            @include transition($transition);
                            top: 100%;
                        }
                     }
                 }
             }
         }
    }
    .nav-right-area{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 8px;
                a{
                    color: rgba($white,.8);
                    @include transition($transition);
                    &:hover{
                        color: $base-color;
                    }
                }
            }
        }
    }
    .navbar-collapse {
        justify-content: space-around;
        @include transition(.5s ease-in);
        .navbar-nav {
            .nav-item {
                display: inline-block;
                font-size: 16px;
                line-height: 30px;
                font-weight: 500;
                padding: 15px 16px;
                position: relative;
                &.mega-menu{
                    position: static;
                    &.show{
                        .mega-menu-wrapper{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    &:hover{
                        .mega-menu-wrapper{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    .mega-menu-wrapper{
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        z-index: 2;
                        visibility: hidden;
                        opacity: 0;
                        @include transition($transition);
                        .mega-menu-container{
                            background-color: #fff;
                            padding: 28px 30px 23px 30px;
                            .mega-menu-columns{
                                .title{
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #242424;
                                    text-transform: capitalize;
                                    margin-bottom: 17px;
                                    font-family: $body-font;
                                }
                                .menga-menu-page-links{
                                    li{
                                        line-height: 30px;
                                        a{
                                            color: #737286;
                                            @include transition($transition);
                                            &:hover{
                                                color: $base-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:first-child{
                    padding-left: 0;
                }
                &:hover {
                    .dropdown-menu {
                        padding: 0;
                        border-radius: 0;
                        margin: 0;
                        top: 75px;
                        @include transition(.5s ease-in);
                        .dropdown-item {
                            font-size: 16px;
                            font-weight: 500;
                            color: #515151;
                            line-height: 40px;
                            @include transition($transition);
                            &:hover {
                                background-color: $base-color;
                                color: $white;
                            }
                        }
                    }
                }
                .dropdown-menu {
                    @include transition($transition);
                    top: 73px;
                    &.show {
                        padding: 0;
                        border-radius: 0;
                        .dropdown-item {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 40px;
                            color: #515151;
                            @include transition($transition);
                            &:hover {
                                background-color: $base-color;
                                color: $white;
                            }
                        }
                    }
                }
                &:hover {
                    .nav-link {
                        color: $base-color;
                    }
                }
                &.active {
                    .nav-link {
                        color: $base-color;
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
                .nav-link {
                    color: #dadada;
                    @include transition($transition);
                    font-weight: 500;
                    &.pl-0 {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}